<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dstyle.css">
    <title>Deleted</title>
</head>
<body>

<h2>Meeting details are deleted</h2><br><br>
{{#data}}<div class="backbtn"><a href="/meeting?proid={{proct_id}}&procpass={{proct_pass}}" target="_blank">Back</a></div>{{/data}}
    
</body>
</html>