<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SJBIT</title>
    
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        body{
            background:rgb(247, 245, 245);
            font-family:sans-serif;
        }
        
        .banner-area{
            width:100%;
            height:100vh;
            background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(cs.png);
            background-size:cover;
        }        
        
        .content-area{
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        
        .content{
            text-align: center;
        }
        
        .content h1{
            font-size:50px;
            color:#fff;
        }
        
        
        
        .content .btn{
            border:none;
            outline:none;
            padding:15px;
            margin-top:50px;
            border-radius: 4px;
            color:rgb(17, 16, 16);
            font-size: 18px;
            cursor: pointer;    
            background:rgb(247, 113, 24);             
        }
        
        
    </style>
</head>
<body>
    <div class="banner-area">
        <div class="content-area">
            <div class="content">
            <img src="sjbitlogo.png" alt="Trulli" width="300" height="250"><br><br>

              <h1>PROCTOR MANAGEMENT SYSTEM</h1>
              
              
              
              <button class="btn"><a href="/StudentForm" style="text-decoration: none;">STUDENT</a></button>
              <button class="btn"><a href="/ProctorSignup" style="text-decoration: none;">PROCTOR</a></button>
           </div>
        </div>
    </div>
</body>